.objects{
    font-weight: bold;
    color: rgb(36, 208, 238);
}
.heading{
    font-size: 22px;
}
body{
    background-color: pink;
}
#camera{
    width: 400px;
    height: 300px;
    border-style: groove;
}

